.image {
    justify-content: center;
    text-align: center;
    margin: 30px; 
             
}
#loginlogo{
    width: 27%; 
    opacity: 0.6;   
}
.form-area {
    background-color: aliceblue;    
    width: 60vh;
    text-align: left;
    margin: auto;
    margin-bottom: 5vh;
    padding-top: 3vh;
}
#loginbtn {
    width: 100%;
    background-color: #401201;
    color: antiquewhite;
}
#loginbtn:hover {
    background-color: #D5BB9A;
    color: black;
}
@media screen and (max-width:960px) {
    .form-area {
        width: 80%;
    }
    #loginlogo {
        width: 100%;
    }
    #loginbtn {
        width: 80%;
    }
}