.ribbon-area {
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;   
    position: relative;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.ribbon {    
    background-color: #401201;       
    width: calc(100% - 600px);
    position: relative;
}
#ribbontext {
    font-family: "Playwrite IT Moderna", serif;
    font-style: italic;
    color: aliceblue;
}
.ribbon::before {
    position: absolute;
    content: '';
    border-top: 10px solid #401201;
    border-left: 10px solid transparent;
    border-right: 10px solid #401201;
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
}
.ribbon::after {
    position: absolute;
    content: '';
    border-top: 10px solid #401201;
    border-right: 10px solid transparent;
    border-left: 10px solid #401201;
    border-bottom: 10px solid transparent;
    top: 100%;
    right: 0;
}
@media screen and (max-width:1300px) {
    .ribbon {
      width: 90%;
    }
  }